" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
set ideajoin
set clipboard=unnamedplus
set relativenumber
set incsearch
set whichwrap+=<,>,[,],h,l
set ignorecase
set smartcase

let mapleader = " "

" -- Ideavim plugin
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapOpenSplit='s'
let g:NERDTreeMapOpenVSplit='v'
let g:NERDTreeMapQuit='<Space>e'

" <C-r> to rename

nmap <leader>e :NERDTreeToggle<CR>

" --- Vanilla ---
snoremap <Esc> <Esc><Esc><CR>

" paste in place of visual block
xnoremap <leader>p "_dP

" -- Navigation --
nnoremap w [w
nnoremap e ]w
nnoremap b [b
nnoremap E ]b
nnoremap ge E

snoremap <C-h> <Left>
snoremap <C-l> <Right>
smap <C-j> <Action>(EditorDown)
smap <C-k> <Action>(EditorUp)

inoremap <C-h> <Left>
inoremap <C-l> <Right>
inoremap <C-j> <Down>
inoremap <C-k> <Up>

" move half pages with recentre
map <C-d> <C-d>zz
map <C-u> <C-u>zz

" moving between splits
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l


" --- New lines ---
map <leader>o o<ESC>o
map <leader>O O<ESC>O
map <A-o> moo<ESC>`o
map <A-S-o> moO<ESC>`o
imap <A-o> _<ESC>moo<ESC>`os
imap <A-S-o> _<ESC>moO<ESC>`os

" --- Line operations
nmap <leader>. <Action>(EditorDuplicateLines)
vmap <leader>. <Action>(EditorDuplicateLines)

" --- Buffers ---
nmap <S-l> <Action>(NextTab)
nmap <S-h> <Action>(PreviousTab)
nmap <C-p> <Action>(PinActiveEditorTab)
nmap <leader>h <Action>(com.mikejhill.intellij.movetab.actions.MoveTabLeft)
nmap <leader>l <Action>(com.mikejhill.intellij.movetab.actions.MoveTabRight)
nmap <C-q> <Action>(CloseContent)

" --- Find ---
map  <leader>fa <Action>(GotoAction)
nmap <leader>fc <Action>(GotoClass)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fp <Action>(WelcomeScreen.Settings)
nmap <leader>fs <Action>(FindInPath)
nmap <leader>fw <Action>(GotoSymbol)

" --- LSP ---

nmap <leader>a <Action>(ShowIntentionActions)

" -- navigation --
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
nmap ]m <Action>(MethodDown)
nmap [m <Action>(MethodUp)
nmap gd <Action>(GotoDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(FindUsages)
nmap gs <Action>(GotoSuperMethod)
nmap gt <Action>(GotoTypeDeclaration)
nmap gy <Action>(GotoTest)

" -- Refactoring --
nmap <leader>rf <Action>(IntroduceField)
nmap <leader>ri <Action>(Inline)
nmap <leader>rm <Action>(ExtractMethod)
nmap <leader>rn <Action>(RenameElement)
nmap <leader>rr <Action>(Refactorings.QuickListPopupAction)
nmap <leader>rs <Action>(ChangeSignature)
nmap <leader>rv <Action>(IntroduceVariable)
nmap <leader>re <Action>(RenameFile)

nmap <leader>nf <Action>(NewFile)

" --- Tools ---
nmap <leader>tt <Action>(ActivateTerminalToolWindow)
nmap <leader>tg <Action>(ActivateVersionControlToolWindow)
nmap <leader>tr <Action>(ActivateRunToolWindow)

" --- IDE Action ---
nnoremap <leader>cc :e ~/.ideavimrc<CR>
nnoremap <leader>cs :source ~/.ideavimrc<CR>
nmap <leader>cr <Action>(RestartIde)

nmap <leader>ir <Action>(Run)
nmap <leader>is <Action>(Stop)
