" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
set ideajoin
set clipboard=unnamedplus
set relativenumber

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq


" the leader
let mapleader = " "

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

map <S-l> <Action>(NextTab)
map <S-h> <Action>(PreviousTab)
map <C-q> :bdelete<CR>

" move in insert mode
inoremap <C-h> <Left>
inoremap <C-l> <Right>

" paste in place of visual block
xnoremap <leader>p "_dP

" disable highlight in normal mode
map <Esc> :noh<CR>

" inserting lines
map <leader>o o<ESC>o
map <leader>O O<ESC>O
map <A-o> moo<ESC>`o
map <A-S-o> moO<ESC>`o
imap <A-o> _<ESC>moo<ESC>`os
imap <A-S-o> _<ESC>moO<ESC>`os

" move half pages with recentre
map <C-d> <C-d>zz
map <C-u> <C-u>zz

" moving between splits
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-h> <C-w>h
map <C-l> <C-w>l

" terminal creation
map <leader>t <Action>(ActivateTerminalToolWindow)

" run
map <leader>r <Action>(Run)

map <leader>e :NERDTreeToggle<CR>

map d] <Action>(GotoNextError)
map gl <Action>(ShowErrorDescription)
let g:NERDTreeMapActivateNode='l'
